router.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="router">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="permission" maxOccurs="unbounded" minOccurs="1"/>
				<xs:element ref="tag" maxOccurs="unbounded" minOccurs="0"/>
				<xs:element ref="page" maxOccurs="unbounded" minOccurs="1"/>
			</xs:sequence>
			<xs:attribute type="xs:string" name="layout" use="optional"/>
			<xs:attribute type="xs:string" name="namespace" use="optional"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="tag">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="param" maxOccurs="unbounded" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute type="xs:string" name="name" use="optional"/>
			<xs:attribute type="xs:string" name="namespace" use="required"/>
			<xs:attribute name="pass" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="pass"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="mode" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="normal"/>
						<xs:enumeration value="background"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="param">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="param" maxOccurs="unbounded" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute type="xs:string" name="name" use="required"/>
			<xs:attribute type="xs:string" name="value" use="optional"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="permission">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute type="xs:string" name="name" use="required"/>
					<xs:attribute name="value" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="allow"/>
								<xs:enumeration value="deny"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="pass" use="optional">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="pass"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="page">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="permission"	maxOccurs="unbounded" minOccurs="0" />
				<xs:element ref="route"			maxOccurs="1" minOccurs="1"/>
				<xs:element ref="title"			maxOccurs="unbounded" minOccurs="0" />

				<xs:element ref="nav"			maxOccurs="unbounded" minOccurs="0"/>

				<xs:element ref="tag"			maxOccurs="unbounded" minOccurs="0"/>
				<xs:element ref="tag_exclusion"	maxOccurs="unbounded" minOccurs="0"/>

				<xs:element ref="page"			maxOccurs="unbounded" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute type="xs:string" name="name" use="required"/>
			<xs:attribute type="xs:string" name="layout" use="optional"/>
			<xs:attribute type="xs:string" name="redirect" use="optional"/>
			<xs:attribute type="xs:string" name="namespace" use="optional"/>
			<xs:attribute type="xs:string" name="content_type" use="optional" default="text/html; charset=utf8"/>
			<xs:attribute name="start" use="optional" default="start">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="start"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="error_code" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:pattern value="[0-9][0-9][0-9]"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="route">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="var" maxOccurs="unbounded" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute type="xs:string" name="url" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="var">
		<xs:complexType>
			<xs:attribute type="xs:string" name="name" use="required"/>
			<xs:attribute type="xs:string" name="rule" use="required"/>
			<xs:attribute type="xs:string" name="explode" use="optional"/>
			<xs:attribute type="xs:string" name="pattern" use="optional"/>
			<xs:attribute type="xs:string" name="default" use="optional"/>
			<xs:attribute type="xs:string" name="namespace" use="optional"/>
<!--
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="string"/>
						<xs:enumeration value="int"/>
						<xs:enumeration value="real"/>
						<xs:enumeration value="double"/>
						<xs:enumeration value="bool"/>
						<xs:enumeration value="boolean"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
-->
		</xs:complexType>
	</xs:element>

	<xs:element name="title">
		<xs:complexType xml:base="xs:string">
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute type="xs:string" name="mode" use="optional"/>
					<xs:attribute type="xs:string" name="value" use="optional"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>











	<xs:element name="tag_exclusion">
		<xs:complexType>
			<xs:attribute type="xs:string" name="name" use="required"/>
			<xs:attribute name="pass" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="pass"/>
						<xs:enumeration value="overpass"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="nav">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute type="xs:string" name="name" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>